/*Variabler*/

$bgDefault: #b6c2b5;
$primaryColor: #263124;
$textColor: #38241d;


/*Mixins*/

@mixin bg ($bg: $bgDefault) {
    background-color: $bg;
}

@mixin cta {
    
        background : {
            color: transparent;
            image: url(../img/cta.svg);
            position: center;
            size: contain;
            repeat: no-repeat;
        }
        
        &:hover{
            background-image: url(../img/cta-hover.svg);
            text-decoration: underline;
            transition: 0.3s ease-in-out;
        }

    border: none;
    color: $textColor;
    cursor: pointer;
    display: block;
    font-family: p22-folk-art-block, sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: auto;
    margin: 0.5em auto;
    padding: 2em;
    text-align: center;
    width: 90%;
}

