/*Variabler*/

$bgDefault: #b6c2b5;
$primaryColor: #263124;
$textColor: #38241d;


/*Mixins*/

@mixin bg ($bg: #b6c2b5) {
    background-color: $bg;
    transition: 1.5s ease-in-out;
}

@mixin cta {
    
        background : {
            color: transparent;
            image: url(../img/btn.png);
            position: center;
            size: contain;
            repeat: no-repeat;
        }
        
        &:hover{
            background-image: url(../img/btn-hover.png);
            text-decoration: underline;
        }

    border: none;
    color: $textColor;
    cursor: pointer;
    display: block;
    font-family: p22-folk-art-block, sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: auto;
    margin: 0.5em auto;
    max-width: 100%;
    min-width: 30%;
    padding: 2em;
    text-align: center;
}

