@use 'partial';

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    @include partial.bg;
}


/* Header */

header{
    background-color: partial.$primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;

        img{
            height: auto;
            max-width: 75%;
        }
}


/* Hovedindhold */

/*h1{
    color: partial.$primaryColor;
    font-family: p22-folk-art-stitch, sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    margin: 2em auto;
    text-align: center;
}*/

.loading{
    background : {
        image: url(../img/loading-screen.gif);
        size: contain;
        position: center;
        repeat: no-repeat;
    }

    max-width: 100%;
    height: 600px;
    margin: -80px auto;
}

.start{
    background-image: url(../img/cta-start.svg);
    color: transparent;
    margin: 0 auto;
    max-width: 35%;
    position: relative;
    top: 65%;
    animation: pulse 2s ease-in-out infinite;
    

        &:hover{
            background-image: url(../img/cta-start-hover.svg);
            animation: none;
        }
}

.startingTxt{
    font : {
        family: p22-folk-art-block, sans-serif;
        size: 20px;
        weight: 500;
    }

    color: partial.$textColor;
    margin: 10px auto;
    width: 80%;
}

.stage{
    display: none;
    margin: 1em auto;
    width: 90%;

        &.active{
            display: block;
        }
}

.myVideo{
    display: block;
    height: 600px;
    margin: 0 auto;
    max-width: 100%;
}

button{
    @include partial.cta;
}





@keyframes pulse{
    0% {transform: scale(100%);}
    50% {transform: scale(115%);}
    100% {transform: scale(100%);}
}

.visually-hidden{
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}